{% extends 'shop/layout.html' %}
{% load static %}

{% block title %}Категории{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="catalog">
            {% for el in catalog %}
                <div class="catalog_section">
                    <span>{{ el.name }}</span>
                    <img src="/static/img/shop/no-catalog-img.png" alt="no-img">
                    <a href="catalog/1/{{ el.id }}"><button>Коты</button></a>
                    <a href="catalog/2/{{ el.id }}"><button>Собаки</button></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


