{% extends 'shop/layout.html' %}

{% block title %}Добавить товар{% endblock %}
{% block content %}
    <div class="wrapper">
        <form method="post", action="">
            {% csrf_token %}
            <span>Добавить товар</span>
            {{ form.title }}
            {{ form.description }}
            {{ form.information }}
            {{ form.price }}
            {{ form.is_available }}
            {{ form.animal }}
            {{ form.catalog }}
            <span>{{ error }}</span>
            <button type="submit">Добавить</button>
        </form>
    </div>
{% endblock %}