{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fonts/Mister Brush/ofont.ru_Mister Brush.ttf' %}">
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    <link rel="stylesheet" href="{% static 'css/popupmenu.css' %}">
    <script src="{% static 'js/popupmenu.js' %}" defer></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="header_wrapper">
            <nav>
                <a href="{% url 'main' %}">Главная</a>
                <a href="{% url 'catalog' %}">Каталог</a>
            </nav>
            <div class="input_button">
                <input type="text" placeholder="Поиск">
                <a href="{% url 'create_product' %}"><button>Добавить товар</button></a>
            </div>
            <div class="basket_login">
                <div class="basket_login_container">
                    <img src="{% static 'img/shop/shop-basket.png' %}" alt="basket">
                    <a href="{% url 'basket' %}">Корзина</a>
                </div>
                <div class="basket_login_container">
                    <img src="{% static 'img/shop/shop-user-account.png' %}" alt="user_account">
                    <button class="popup-button">{{ user }}</button>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
    </footer>
    <div class="popup-menu">
        <div class="popup-menu-wrapper">
            {% if user.is_authenticated %}
            <div class="popup-logout">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Разлогиниться</button>
                </form>
            </div>
            {% else %}
            <a href="{% url 'login' %}"><button class="popup-main-button">Залогиниться</button></a>
            {% endif %}
            <button class="popupmenu-closebutton">-----</button>
        </div>
    </div>
</body>
</html>