{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fonts/Mister Brush/ofont.ru_Mister Brush.ttf' %}">
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="header_wrapper">
            <nav>
                <a href="{% url 'main' %}">Главная</a>
                <a href="{% url 'catalog' %}">Каталог</a>
            </nav>
            <input type="text" placeholder="Поиск">
            <div class="basket_login">
                <div class="basket_login_container">
                    <img src="{% static 'img/shop/shop-basket.png' %}" alt="basket">
                    <a href="#">Корзина</a>
                </div>
                <div class="basket_login_container">
                    <img src="{% static 'img/shop/shop-user-account.png' %}" alt="user_account">
                    <a href="#">Кабинет</a>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>