{% extends 'shop/layout.html' %}

{% block title %}Товар{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="product">
            <div class="product_info-left">
                <img src="/static/img/shop/no-product-img.png" alt="no-img">
                <div class="product_title_price">
                    <span>{{ product.title }}</span>
                    <h3>{{ product.price }}$</h3>
                </div>
            </div>
            <div class="product_info-right">
                <span>{{ product.description }}</span>
                <p>{{ product.information }}</p>
                <button>Кнопка</button>
            </div>
        </div>
    </div>
{% endblock %}