{% extends 'blog/layout.html' %}

{% block title %}Категории{% endblock %}
{% block content %}
    <div class="wrapper">
        <h2>Категории</h2>
        <div class="categories">
            <div class="categories_section">
                <span>One</span>
                <button>Подробнее</button>
            </div>
            <div class="categories_section">
                <span>Two</span>
                <button>Подробнее</button>
            </div>
            <div class="categories_section">
                <span>Three</span>
                <button>Подробнее</button>
            </div>
            <div class="categories_section">
                <span>Four</span>
                <button>Подробнее</button>
            </div>
        </div> 
    </div>
{% endblock %}