{% extends 'blog/layout.html' %}

{% block title %}Пост{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="post_content">
            <h2>{{ post.title }}</h2>
            <span>{{ post.subtitle }}</span>
            <p>{{ post.content }}</p>
            <div class="update_delete">
                <a href="{% url 'update_post' post.id %}"><button>Редактировать</button></a>
                <form method="POST" action="{% url 'delete_post' post.id %}">
                    {% csrf_token %}
                    <button type="submit">Удалить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}